@import	url(css/header.css);
@import	url(css/about.css);
@import	url(css/portfolio.css);

*{
	margin: 0;
	padding: 0;
	
}

html,body{
	height: 100%;
	width: 100%;
}

p{
	font-family: 'Source Serif Pro', serif;
	letter-spacing: .5px;

}


h1{
	font-family: 'Russo One', sans-serif;
}



#contact{
	width: 100%;
	line-height: 25px;

}

.inner-contact-2{
	
	width: 350px;
	margin: 0 auto;
}

.inner-contact-2 h1{
	text-decoration: underline;
	text-align: center;

}



/* ------------- FOOTER -----------*/


footer{
	text-align: center;
	background:white;
	padding: 20px;
	color: white;
}

footer a{
	color: black;
	padding: 10px;
	font-size: 30px;

}

.footer-nav nav{
	width :100%;

}

.footer-nav ul{
 display: inline-block;
}

.footer-nav ul li{
	text-align: center;
}

.footer-nav ul li a{
	color: black;
}

.tw:hover{
	color: #55acee;
	background: white;
}

.ig:hover{
	color: #e4405f;
	background: white;

}


.yt:hover{
	color:#cd201f;
}

.fb:hover{
	color: #3b5999;
}


/* ------------- FOOTER END -----------*/






